.magazine-viewport .next-button{
	right: auto;
	left: -22px;
	-webkit-border-radius:15px 0 0 15px;
	-moz-border-radius:15px 0 0 15px;
	-ms-border-radius:15px 0 0 15px;
	-o-border-radius:15px 0 0 15px;
	border-radius:15px 0 0 15px;
	/*having to use !important because we use JavaScript to set the bg position again, and the page has not always rendered in time*/
	background-position: -4px 0px!important;
}

.magazine-viewport .previous-button{
	left: auto;
	right: -22px;
	-webkit-border-radius:0 15px 15px 0;
	-moz-border-radius:0 15px 15px 0;
	-ms-border-radius:0 15px 15px 0;
	-o-border-radius:0 15px 15px 0;
	border-radius:0 15px 15px 0;
	background-position: -38px 0px!important;

}

.mobile .magazine-viewport .next-button{
	background-position:9px 284px!important;
	left: -50px;
}

.mobile .magazine-viewport .previous-button{
	background-position:-26px 284px!important;
	right: -50px;
}

.mobile div.shadow{
	/* stops the button being clickable */
	/*display: none;*/
}